@mixin base($attr, $value) {
  -webkit-#{$attr}: $value;
  -moz-#{$attr}: $value;
  -ms-#{$attr}: $value;
  -o-#{$attr}: $value;
  #{$attr}: $value;
}
@mixin clearfix() {
  &:after {
    content: '';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}

@mixin normalText($color: $fontColor) {
  &,
  &:hover,
  &:active {
    color: $color;
    text-decoration: none;
  }
}

// 带省略号的文本
@mixin text-Ellipsis($line) {
  display: -webkit-box;
  display: box;
  -webkit-line-clamp: $line;
  /*! autoprefixer: off */
  -webkit-box-orient: vertical;
  /* autoprefixer: on */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre-wrap;
}
