.title {
  width: 100%;
  height: 44px;
  background-color: #fff;
  text-align: center;
  .back {
    height: 44px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    flex-direction: row;
    -webkit-flex-direction: row;
    padding-left: 12px;
    text-align: center;
    img {
      width: 22px;
      height: 21px;
    }
    .back-icon{
      width: 10px;
      height: 10px;
      border-top: 1px solid #333;
      border-right: 1px solid #333;
      transform: rotate(-135deg);
      -webkit-transform: rotate(-135deg);
      &.white{
        border-color: #fff;
      }
    }
    span {
      font-size: 15px;
      color: #333;
      font-weight: 400;
      padding-left: 3px;
    }
  }
  .ios-back {
    top: 22px;
  }
  .iosx-back {
    top: 46px;
  }
  .ios-right {
    top: 20px;
  }
  .iosx-right {
    top: 44px;
  }
  .titleName {
    max-width: 67%;
    min-width: 30%;
    line-height: 44px;
    font-size: 18px;
    font-weight: 500;
    color: #030303;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
  }
  .titleName-hasRight {
    max-width: 50%;
    min-width: 30%;
    line-height: 44px;
    font-size: 18px;
    font-weight: 500;
    color: #030303;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
  }
  .rightTitle {
    line-height: 44px;
    font-size: 16px;
    color: #979797;
    position: absolute;
    right: 0;
    padding-right: 14px;
    padding-left: 11px;
  }
  .rightTitleSmall {
    line-height: 44px;
    font-size: 14px;
    color: #979797;
    position: absolute;
    right: 0;
    padding-right: 14px;
    padding-left: 11px;
  }
  .subTitle {
    width: 67%;
    display: inline-block;
    .titleName-noSub {
      font-size: 18px;
      font-weight: 500;
      color: #030303;
      line-height: 44px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .titleName-hasSub {
      font-size: 18px;
      font-weight: 500;
      color: #030303;
      line-height: 20px;
      margin-top: 6px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .subTitleName {
      font-size: 12px;
      line-height: 16px;
      color: #000;
    }
  }
}

.postion {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.postion-absolute {
  position: absolute;
}

.base-block {
  height: 44px;
  width: 100%;
  &.positionTitle{
    height: 42px;
  }
}

.baseios-block {
  height: 64px;
  width: 100%;
}

.baseiosx-block {
  height: 88px;
  width: 100%;
}

.ios-title {
  height: 64px;
  padding-top: 20px;
}

.iosx-title {
  height: 88px;
  padding-top: 44px;
}

.margin-top {
  margin-top: 20px;
}

.marginx-top {
  margin-top: 44px;
}

.titlenopostion-line {
  position: relative;
}

.titlenopostion:before {
  content: ' ';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 1px;
  border-top: 1px solid #e6e6e6;
  color: #e6e6e6;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
}

.title-line {
  position: fixed;
  top: 44px;
  width: 100%;
  z-index: 11;
}

.title-line:before {
  content: ' ';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 1px;
  border-top: 1px solid #e6e6e6;
  color: #e6e6e6;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
}

.titleios-line {
  position: fixed;
  top: 64px;
  width: 100%;
  z-index: 11;
}

.titleios-line:before {
  content: ' ';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 1px;
  border-top: 1px solid #e6e6e6;
  color: #e6e6e6;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
}

.titleiosx-line {
  position: fixed;
  top: 88px;
  width: 100%;
  z-index: 11;
}

.titleiosx-line:before {
  content: ' ';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 1px;
  border-top: 1px solid #e6e6e6;
  color: #e6e6e6;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
}